body {
    background-color: #FAF6E9;
    background: #FAF6E9;
}

.h1-style{
   color: #494949;
   font-family: Quicksand; 
}

.paragraph-style{
    color: #494949;
    font-family: Quicksand;
}

#sushi-aspiration {
    font-weight: bolder;
}

.order-style{
    list-style-type: disc;
}

.image-style{
    width: 200px; 
    border-radius: 20px;   
}

.button-style{
    border-radius: 5px;
    border: #929AAB;
    background-color: #929AAB;
    color: #FFFDF6;  
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 20px;
}

.copyright-size{
    font-size: 13px;
}

.anime-monday{
    width: 200px; 
    border-radius: 20px; 
    position: relative;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

.anime-roll{
    width: 100px;
    border-radius: 20px;
    position: relative;
    animation: example 5s infinite;
    animation-direction: alternate-reverse;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

.anime-egg{
    width: 100px;
    border-radius: 20px;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

.anime-sushi{
    width: 100px;
    border-radius: 20px;
    position: relative;
    animation: mymotion 5s infinite;
    animation-direction: alternate-reverse;
}

@keyframes mymotion {
    from {left: 0px;}
    to {left: 300px;}
}